# API Security Token
NEXT_PUBLIC_API_TOKEN=e2623576-930b-48b6-81e2-a3cb5e37f47d

# API Base URLs
NEXT_PUBLIC_DEFAULT_API_URL=https://consumer-api-gateway-tnutsdr7.dev.hav-g.in/
NEXT_PUBLIC_PUBLIC_API_URL_BASE=https://public-zxhj2.dev.hav-g.in/

# Cookies Configuration
NEXT_PUBLIC_COOKIES_DOMAIN=clearritual.com