@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {
  --font-plus-jakarta: var(--font-plus-jakarta);
  --font-nunito: var(--font-nunito);
  --font-lato: var(--font-lato);
}

/* Example font usage */
body {
  font-family: sofia-pro, sans-serif;
  /* font-size: 16px; */
}

.jakarta-font {
  font-family: var(--font-plus-jakarta);
}

.lato-font {
  font-family: var(--font-lato);
}

@layer components {
  html {
    scroll-behavior: smooth;
  }

  /* body::-webkit-scrollbar {
    width: 0px;
  } */
  .custom-black {
    color: #414042;
  }

  .w-87 {
    width: 87% !important;
  }

  input[type="radio"] {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Chrome, Safari, Opera */
    transform: scale(1.1);
    accent-color: #3b52f5;
  }

  input[type="checkbox"] {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Chrome, Safari, Opera */
    transform: scale(1.1);
    accent-color: #3b52f5;
  }
  .acne input[type="radio"] {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Chrome, Safari, Opera */
    transform: scale(1.1);
    accent-color: #ba9d86;
  }

  .acne input[type="checkbox"] {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Chrome, Safari, Opera */
    transform: scale(1.1);
    accent-color: #ba9d86;
  }
  .dxImg {
    position: relative;
    top: 12px;
  }

  #traya_logo_1 {
    position: relative;
    top: 3px;
  }

  .text-base {
    font-weight: 100;
  }

  .clockIcon svg {
    width: 20px;
    margin-right: 15px;
  }

  /* @import "~slick-carousel/slick/slick.css";
  @import "~slick-carousel/slick/slick-theme.css"; */

  .slick-pills li {
    border: 1px solid;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    text-align: center;
  }

  .slick-dots {
    bottom: 20px;
    display: flex !important;
    justify-content: center;
    gap: 5px;
  }

  .slick-pills {
    bottom: 20px;
  }

  .slick-dots li button:before {
    color: #ffffff;
  }

  .slick-pills li button:before {
    color: #ffffff;
  }

  .slick-dots li.slick-active button:before {
    color: #ffffff;
  }

  .slick-pills li.slick-active button:before {
    color: #ffffff;
  }

  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-prev:before,
  .slick-next:before {
    color: #ffffff;
  }

  .slick-prev:hover:before,
  .slick-next:hover:before {
    color: #000000;
  }

  .slick-prev {
    left: 20px;
  }

  .slick-next {
    right: 20px;
  }

  .slick-slide img {
    border-radius: 4px;
  }

  .slick-next:before,
  .slick-prev:before {
    display: none;
  }

  .slick-dots li {
    margin: 0 15px !important;
    border-radius: 100px !important;
    margin-top: 50px !important;
  }

  .slick-pills li {
    margin: 0 15px !important;
    /* border-radius: 100px !important; */
    margin-top: 5px !important;
  }

  .slick-dots li {
    width: 5px !important;
  }

  .slick-pills li {
    width: 16px !important;
  }

  .slick-dots li button:before {
    font-size: 10px;
    line-height: 10px;
    color: #58595b !important;
    width: 40px !important;
    height: 10px !important;
    border-radius: 100px !important;
  }

  .slick-pills li button:before {
    font-size: 10px;
    line-height: 10px;
    color: #58595b !important;
    width: 45px !important;
    height: 10px !important;
    /* border-radius: 100px !important; */
  }

  .slick-dots li button:before {
    background-color: #58595b;
    height: 10px !important;
    width: 10px !important;
    text-indent: -9999px;
    overflow: hidden;
  }

  .slick-dots li button:before {
    background-color: #58595b;
    height: 10px !important;
    width: 10px !important;
    text-indent: -9999px;
    overflow: hidden;
  }
}

.hidescroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .custom-drawer-translate {
    transform: translateX(0px) !important;
  }

  .custom-slider-dots .slick-dots {
    bottom: 3px;
  }
  .custom-slider-dots-root-causes .slick-dots {
    bottom: -43px;
  }
}

.video::-webkit-media-controls {
  display: none !important;
}

.video::-webkit-media-controls-enclosure {
  display: none !important;
}

.video::-webkit-media-controls-panel {
  display: none !important;
}

.slick-slider {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  grid-gap: 20px !important;
}

.slick-slide {
  height: 100% !important;
}

.slickItem {
  display: block !important;
  width: auto !important;
  margin: 0 1px !important;
}

@media (min-width: 320px) {
  .slick-dots li {
    margin: 0 5px !important;
    border-radius: 100px !important;
    margin-top: 5px !important;
  }

  .slick-pills li {
    margin: 0 0px !important;
    border-radius: 100px !important;
    margin-top: 5px !important;
  }
}

@media (min-width: 1445px) and (max-width: 1500px) {
  .custom-root-cause-carousel .ant-carousel .slick-dots {
    bottom: -14px !important;
  }
}

@media (min-width: 1025px) and (max-width: 1444px) {
  .custom-root-cause-carousel .ant-carousel .slick-dots {
    bottom: 290px !important;
  }
}

/* <-------------- Antd Carousel changes ----------->*/

.ant-carousel .slick-dots {
  bottom: -24px !important;
}

#carousel-id .ant-carousel .slick-dots {
  bottom: 0px !important;
}

/* Inactive dots for all carousels */
.ant-carousel .slick-dots li button {
  background-color: #bebebe !important;
  opacity: 1 !important;
}

/* Active dots for all carousels */
.ant-carousel .slick-dots li.slick-active button {
  background-color: #262626 !important;
  opacity: 1 !important;
}

/* After styles for dot indicators */
.ant-carousel .slick-dots li::after {
  background-color: #262626 !important;
}

.div-text {
  position: absolute;
  margin: 0px 30px 0px 30px;
  margin: 0px 13px 0px 13px;
  top: 45%;
  transform: translate(0, -50%);
  border-radius: 10px 10px 10px 0px;
  background-color: #fff;
  box-shadow: 0 80px 100px 75px #00000066;
}

.hide-arrow .slick-prev:before,
.hide-arrow .slick-next:before {
  content: "";
}

/* @media screen and (max-width: 480px) {
    .our-expert-doctor .slick-next {
    display: none !important;
  }

  .other-experts-doctors-slick .slick-next {
    display: none !important;
  }
} */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e6e6ebe;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4be;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-all {
  display: flex;
  animation: marquee 38s linear infinite;
  width: fit-content;
}

.marquee-container {
  overflow: hidden;
}

.marquee-content {
  display: flex;
  width: fit-content;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.custom-arrow:before {
  content: none !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
  margin-top: 8px !important;
  z-index: 50;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.custom-icon-fill {
  filter: contrast(15%);
  fill: "#505354";
}

.custom-icon-fill-grey {
  filter: contrast(15%);
  fill: "#635E51";
}

.custom-icon-fill-light-grey {
  filter: contrast(15%);
  fill: "#929798";
}

.ant-input-affix-wrapper {
  padding: 0px 0px;
}

.ant-modal-body {
  padding: 30px 10px 30px 10px;
}

body.modal-open {
  overflow: hidden !important;
}

.thin-scrollbar::-webkit-scrollbar {
  height: 3px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

hautai-liqa {
  width: 100%;
  height: 550px;
  display: block;
}

/* Ensure preview canvas is visible */
hautai-liqa canvas {
  display: block !important;
  visibility: visible !important;
}
