@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {
  --font-plus-jakarta: var(--font-plus-jakarta);
  --font-nunito: var(--font-nunito);
  --font-lato: var(--font-lato);
}

/* Example font usage */
body {
  font-family: var(--font-lato);
  /* font-size: 16px; */
}

.jakarta-font {
  font-family: var(--font-plus-jakarta);
}

.lato-font {
  font-family: var(--font-lato);
}

@layer components {
  html {
    scroll-behavior: smooth;
  }

  /* body::-webkit-scrollbar {
    width: 0px;
  } */
  .custom-black {
    color: #414042;
  }

  .w-87 {
    width: 87% !important;
  }

  input[type="radio"] {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Chrome, Safari, Opera */
    transform: scale(1.1);
    accent-color: #759a42;
  }

  input[type="checkbox"] {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Chrome, Safari, Opera */
    transform: scale(1.1);
    accent-color: #759a42;
  }
  .acne input[type="radio"] {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Chrome, Safari, Opera */
    transform: scale(1.1);
    accent-color: #ba9d86;
  }

  .acne input[type="checkbox"] {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Chrome, Safari, Opera */
    transform: scale(1.1);
    accent-color: #ba9d86;
  }
  .dxImg {
    position: relative;
    top: 12px;
  }

  #traya_logo_1 {
    position: relative;
    top: 3px;
  }

  .text-base {
    font-weight: 100;
  }

  .clockIcon svg {
    width: 20px;
    margin-right: 15px;
  }

  /* @import "~slick-carousel/slick/slick.css";
  @import "~slick-carousel/slick/slick-theme.css"; */

  .slick-pills li {
    border: 1px solid;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    text-align: center;
  }

  .slick-dots {
    bottom: 20px;
    display: flex !important;
    justify-content: center;
    gap: 5px;
  }

  .slick-pills {
    bottom: 20px;
  }

  .slick-dots li button:before {
    color: #ffffff;
  }

  .slick-pills li button:before {
    color: #ffffff;
  }

  .slick-dots li.slick-active button:before {
    color: #ffffff;
  }

  .slick-pills li.slick-active button:before {
    color: #ffffff;
  }

  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-prev:before,
  .slick-next:before {
    color: #ffffff;
  }

  .slick-prev:hover:before,
  .slick-next:hover:before {
    color: #000000;
  }

  .slick-prev {
    left: 20px;
  }

  .slick-next {
    right: 20px;
  }

  .banner-slider .slick-prev {
    left: 0px !important;
  }

  .banner-slider .slick-next {
    right: 0px !important;
  }

  .banner-slider .slick-next:before {
    content: "";
  }

  .banner-slider .slick-prev:before {
    content: "";
  }

  .slick-slide img {
    border-radius: 4px;
  }

  .trapezoid {
    border-bottom: 40px solid #ffffff;
    border-right: 50px solid transparent;
    height: 10px;
    width: 85% !important;
  }

  .slick-next:before,
  .slick-prev:before {
    display: none;
  }

  .ban-user-img {
    height: 195px;
  }

  .ban-user-month {
    width: 184px;
  }

  .ban-user-img {
    height: 195px;
  }

  .ban-user-month {
    width: 184px;
  }

  .slick-dots li {
    margin: 0 15px !important;
    border-radius: 100px !important;
    margin-top: 50px !important;
  }

  .slick-pills li {
    margin: 0 15px !important;
    /* border-radius: 100px !important; */
    margin-top: 5px !important;
  }

  .slick-dots li {
    width: 5px !important;
  }

  .slick-pills li {
    width: 16px !important;
  }

  .slick-dots li button:before {
    font-size: 10px;
    line-height: 10px;
    color: #58595b !important;
    width: 40px !important;
    height: 10px !important;
    border-radius: 100px !important;
  }

  .slick-pills li button:before {
    font-size: 10px;
    line-height: 10px;
    color: #58595b !important;
    width: 45px !important;
    height: 10px !important;
    /* border-radius: 100px !important; */
  }

  .slick-dots li button:before {
    background-color: #58595b;
    height: 10px !important;
    width: 10px !important;
    text-indent: -9999px;
    overflow: hidden;
  }

  .slick-dots li button:before {
    background-color: #58595b;
    height: 10px !important;
    width: 10px !important;
    text-indent: -9999px;
    overflow: hidden;
  }

  .from-custom-green {
    background: linear-gradient(
      180.59deg,
      #b7d340 -3.68%,
      #ffffff 69.01%
    ) !important;
  }

  .rootcauses::after {
    content: "";
    position: absolute;
    background: #9bb96f;
    width: 35%;
    height: 2px;
    transform: translate(0, 0);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-top: 30px;
    margin-left: 10px;
  }

  .orderdiv {
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
  }

  .orderdiv:hover {
    overflow-y: scroll;
  }

  .custom-pill-indicator li {
    background-color: #ccc;
    width: 30px !important;
    height: 10px !important;
    color: #ccc;
    font-size: 0.51px !important;
  }

  .custom-pill-indicator li.slick-active {
    background-color: #9e83d7;
    border-radius: 30px;
    width: 50px !important;
    height: 10px !important;
    color: #9e83d7;
    font-size: 0.51px !important;
  }

  .custom-indicator li {
    background-color: none;
  }

  .custom-indicator li.slick-active {
    background-color: #b7d340;
    border-radius: 30px;
    width: 26px !important;
    height: 26px !important;
    color: #ffffff;
  }

  .fsvg_fill:hover {
    color: #fff !important;
    background-color: #000000;
  }

  .form-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .female-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .pcos-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .postpreg-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .meno-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .thyroid-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .login-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .safe-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh !important;
  }

  .ingrd-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .hairmensol-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .hairwomenmensol-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 95vh !important;
  }

  .faq-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .ourexpert-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .ourexpert-sci {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .aboutus-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90vh !important;
  }

  .science-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .buttonHoverBW:hover {
    background-color: #ffffff;
    color: #000000;
  }

  .buttonHoverBW:hover {
    color: #000000;
  }

  .marquee {
    animation-duration: 10s;
  }

  .marqueelogo {
    width: 60%;
  }

  .marquee {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .marquee a {
    display: inline-block;
  }

  .productItem {
    width: 95% !important;
  }

  .feedbackProduct {
    width: 95% !important;
    height: 320px !important;
  }

  .feedbackProductDesktop {
    width: 95% !important;
  }

  .stage6-hero {
    background-size: 100% 400px;
    background-repeat: no-repeat;
  }

  /* Custom Stories */
  .hotm_hero {
    margin-top: 50px;
  }

  .hotm_hero:before {
    content: url("../assets/images/customerStories/myhero1.png");
    position: absolute;
    display: block;
    left: calc(0%);
    transform: translateX(-12%);
    transform: translateY(-15%);
    top: 20%;
  }

  .hotm_hero:after {
    content: url("../assets/images/customerStories/myhero2.png");
    position: absolute;
    display: block;
    right: calc(0%);
    transform: translateX(-12%);
    transform: translateY(-15%);
    top: 20%;
  }

  .custom-stories:before {
    content: url("../assets/images/customerStories/myhero9.png");
    position: absolute;
    display: block;
    transform: translateX(-12%);
    transform: translateY(-15%);
    top: 40%;
    left: -15%;
  }

  .custom-stories:after {
    content: url("../assets/images/customerStories/myhero8.png");
    position: absolute;
    display: block;
    top: 40%;
    right: -15%;
  }

  .cusGoogleRevHead {
    background: linear-gradient(0deg, #15427d 20%, #3f89d4 100%);
  }

  .cusQuaraRevHead {
    background: linear-gradient(0deg, #930c09 20%, #c00401 100%);
  }

  .cusInstaRevHead {
    background: linear-gradient(0deg, #600c83 20%, #260c89 100%);
  }

  .rootCauseImg {
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e0e4e5;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    transition: 0.5s;
    text-align: center;
  }

  #googleReview {
    scroll-margin-top: 70px;
  }

  .toggleapp {
    justify-content: flex-end;
    display: flex;
  }

  .toggle {
    background-color: #f5f5f5;
    mix-blend-mode: normal;
    height: 90px;
    width: 400px;
    border-radius: 7.7px;
    display: flex;
    cursor: pointer;
    font-size: 35px;
  }

  .toggle-left {
    height: 88px;
    width: 198px;
    background-color: white;
    border-radius: 6.5px;
    font-size: 35px;
    margin-top: 1px;
    margin-left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 1.19276px 1.19276px 4.77104px rgba(0, 0, 0, 0.16);
  }

  .toggle-right {
    height: 88px;
    width: 198px;
    background-color: white;
    border-radius: 6.5px;
    font-size: 35px;
    margin-top: 1px;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1.19276px 1.19276px 4.77104px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }

  .toggleapp-native {
    justify-content: center;
    display: flex;
  }

  .toggle-native {
    background-color: #f5f5f5;
    mix-blend-mode: normal;
    height: 50px;
    width: 350px;
    border-radius: 7.7px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
  }

  .toggle-left-native {
    height: 40px;
    width: 160px;
    background-color: white;
    border-radius: 6.5px;
    font-size: 16px;
    margin-top: 1px;
    margin-left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 1.19276px 1.19276px 4.77104px rgba(0, 0, 0, 0.16);
  }

  .toggle-right-native {
    height: 40px;
    width: 160px;
    background-color: white;
    border-radius: 6.5px;
    font-size: 16px;
    margin-top: 1px;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1.19276px 1.19276px 4.77104px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }

  .media-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 37%;
    padding: 0 var(--_spacer) var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .media-scroller-2 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 34%;
    padding: 0 var(--_spacer) var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .media-scroller-3 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    padding: 0 var(--_spacer) var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
  }

  .snaps-inline > * {
    scroll-snap-align: start;
  }

  .react-player video {
    max-width: none !important;
  }

  .rating-strip {
    position: absolute;
    background-color: #414042;
    padding: 4px 6px;
    color: #e6e6e6;
    font-weight: 900;
    font-size: 10px;
    line-height: 100%;
    border-radius: 11.25px;
    z-index: 1;
  }

  .stars-container {
    position: relative;
    display: inline-block;
    color: #ffd700;
    font-size: 12px;
  }

  .hidescroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hidescroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Product Page */
  .cartProduct {
    background-color: #ee9a3c;
    color: #000;
  }

  .cartProduct:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
  }

  .cartProduct img {
    filter: invert(1);
  }

  .cartProduct2 {
    background-color: #ee9a3c;
    color: #000;
  }

  .cartProduct2:hover {
    background-color: #000;
    border: 1px solid #272728;
    color: #fff;
  }

  .buyNowProduct {
    background-color: #ffc907;
    color: #000;
    position: relative;
    transition: all 0.3s ease-out;
    opacity: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
  }

  .buyNowProduct img {
    filter: invert(1);
  }

  .buyNowProduct:before {
    content: "icon";
    text-indent: -999em;
    background: url("../assets/images/flash.png") 14% 55%/6% no-repeat;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    left: -25%;
    transition: all 0.2s ease-out;
    opacity: 0;
  }

  .buyNowProduct:hover {
    background-color: #272728;
    color: #fff;
  }

  .buyNowProduct:hover:before {
    opacity: 1;
    left: 0%;
  }

  .probuy_icon_img {
    visibility: hidden;
  }

  .accordion-content {
    transition: max-height 0.4s ease-out, padding 0.3s ease;
  }

  .plus {
    height: 18px;
    width: 18px;
    position: relative;
  }

  .plus::before,
  .plus::after {
    content: " ";
    width: 12px;
    height: 2px;
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .plus::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .plus::after {
    transform: translate(-50%, -50%);
  }

  .fas.minus {
    height: 18px;
    width: 18px;
    position: relative;
  }

  .fas.minus::before,
  .fas.minus::after {
    content: " ";
    width: 12px;
    height: 2px;
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 25%;
  }

  .referral-check {
    background-color: #f6f6f6;
  }

  .loveshare-con {
    height: 420px;
  }

  #how-works {
    height: 0;
    display: none;
  }

  #term-cond {
    display: none;
  }

  .left-arrow-theme {
    transform: rotate(-180deg);
  }

  .faqBox {
    background-color: #f5f5f5;
    font-style: normal;
    font-weight: 700;
    /* font-size: 15px !important; */
    padding: 15px;
    color: #414042;
    border-radius: 8px;
  }

  .faqBox:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #f5f5f5;
    border-radius: 9px 9px 9px 0;
    box-sizing: border-box;
    clip-path: polygon(
      0% 105%,
      0% 0%,
      105% 0%,
      105% 105%,
      43px 105%,
      43px 80%,
      21px 80%,
      21px 105%
    );
  }

  .faqBox:after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 20px;
    background: #f5f5f5;
    top: calc(100% - 5px);
    left: 0;
    box-sizing: border-box;
    clip-path: polygon(
      0 0,
      0% 100%,
      100% 0%,
      calc(100% - 25px) 0,
      1px calc(100% - 2px),
      1px 0
    );
  }

  .cuticle-faq-box {
    background-color: #f5f5f5;
    font-style: normal;
    font-weight: 700;
    padding: 15px;
    color: #414042;
    border-radius: 8px;
  }

  .cuticle-faq-box:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #f5f5f5;
    border-radius: 9px 9px 9px 0;
    box-sizing: border-box;
    clip-path: polygon(
      0% 105%,
      0% 0%,
      105% 0%,
      105% 105%,
      43px 105%,
      43px 80%,
      21px 80%,
      21px 105%
    );
  }

  .cuticle-faq-box:after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 20px;
    background: #f5f5f5;
    top: calc(100% - 5px);
    left: 0;
    box-sizing: border-box;
    clip-path: polygon(
      0 0,
      0% 100%,
      100% 0%,
      calc(100% - 25px) 0,
      1px calc(100% - 2px),
      1px 0
    );
  }

  .otp-input {
    display: flex;
    justify-content: center;
    gap: 4px;
  }

  .otp-input input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 32px;
    text-align: center;
  }

  .our-doctors-slick-dots {
    bottom: 0 !important;
  }

  @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .banner_disclaimer-content {
    position: absolute;
    right: 8px;
    rotate: 270deg;
    transform: rotate(270deg);
    writing-mode: vertical-lr;
    text-align: center;
    height: 400px;
    bottom: -83px;
  }

  @layer utilities {
    .custom-drawer-translate {
      transform: translateX(0px) !important;
    }

    .custom-slider-dots .slick-dots {
      bottom: 3px;
    }
    .custom-slider-dots-root-causes .slick-dots {
      bottom: -43px;
    }
  }

  /*  */

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }

    .orderdiv {
      overflow-y: scroll !important;
    }

    .slick-next {
      right: -18px !important;
    }

    .banner-slider .slick-prev {
      left: 0px !important;
    }

    .banner-slider .slick-next {
      right: 0px !important;
    }

    .banner-slider .slick-next:before {
      content: "";
    }

    .banner-slider .slick-prev:before {
      content: "";
    }

    .coupons-google-review .google-review-text-main {
      font-size: 0.5rem !important;
    }
  }

  @media screen and (max-width: 450px) {
    .realWomDot .slick-dots {
      bottom: -40px !important;
    }

    .realWomDot .slick-dots li {
      margin: 0 0px !important;
      border-radius: 100px !important;
      margin-top: 5px !important;
      padding: 7px !important;
    }
  }

  @media only screen and (max-width: 500px) {
    .trapezoid {
      border-right: 40px solid transparent;
      height: 10px;
      width: 75% !important;
    }

    .slick-dots li {
      margin: 0 5px !important;
    }

    .slick-dots li {
      margin: 0 5px !important;
    }

    .orderdiv {
      overflow-y: scroll !important;
    }

    .downArrowMobHead {
      rotate: 268deg;
      margin-left: 10px;
    }

    .joinusarrup {
      margin-left: 75px !important;
    }

    .slick-next {
      right: -18px !important;
    }

    .banner-slider .slick-prev {
      left: 0px !important;
    }

    .banner-slider .slick-next {
      right: 0px !important;
    }

    .banner-slider .slick-next:before {
      content: "";
    }

    .banner-slider .slick-prev:before {
      content: "";
    }
  }

  @media (max-width: 600px) {
    .ban-user-img {
      height: 170px;
      width: 170px;
    }

    .ban-user-month {
      width: 155px;
    }

    .coachimgCon {
      padding: 0 20px;
    }

    .coachImg {
      width: 350px;
    }

    .rootcauses::after {
      display: none;
    }

    .female-hero {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .pcos-hero {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .postpreg-hero {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .meno-hero {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .thyroid-hero {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .form-hero {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .login-hero {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .safe-box {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 70vh !important;
    }

    .stage6-hero {
      background-size: auto;
      background-repeat: no-repeat;
    }

    .hairmensol-hero {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 90vh !important;
    }

    .hairwomenmensol-hero {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 85vh !important;
    }

    .faq-hero {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 43vh !important;
    }

    .ourexpert-hero {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .ourexpert-cont {
      left: 18px !important;
      width: 90% !important;
      top: 30% !important;
    }

    .about-34-sec {
      height: 700px !important;
      object-fit: cover !important;
    }

    .googleReviewImg {
      padding: 0 15px !important;
    }

    .marqueelogo {
      width: 130px !important;
      padding: 0 15px !important;
    }

    .marq {
      padding: 25px 0 !important;
    }

    .marquee {
      animation-duration: 15s;
    }

    .reel-story {
      width: 95% !important;
    }

    img.closeNavImg {
      fill: #000;
    }

    .orderdiv {
      overflow-y: scroll !important;
    }

    .custom-stories:before {
      left: 0%;
    }

    .custom-stories:after {
      right: 0%;
    }

    .referral-journey-con {
      height: 100%;
    }

    .referral-journey {
      margin: 0 auto !important;
      margin-top: 10px !important;
    }

    .how-it-works {
      position: relative;
      top: 80px;
    }

    .referral-term {
      height: 100% !important;
    }

    .slick-prev {
      left: -18px !important;
    }

    .slick-next {
      right: -18px !important;
    }

    .banner-slider .slick-prev {
      left: -5px !important;
    }

    .banner-slider .slick-next {
      right: -15px !important;
    }

    .banner-slider .slick-next:before {
      content: "";
    }

    .banner-slider .slick-prev:before {
      content: "";
    }
  }

  .video::-webkit-media-controls {
    display: none !important;
  }

  .video::-webkit-media-controls-enclosure {
    display: none !important;
  }

  .video::-webkit-media-controls-panel {
    display: none !important;
  }

  .rootcause-color75 {
    background: linear-gradient(
      to right,
      #99af38 44.5%,
      #65761a 45%,
      #65761a 75%,
      #fff 0
    ) !important;
  }

  .rootcause-color25 {
    background: linear-gradient(to right, #99af38 25%, #fff 0) !important;
  }

  .rootcause-color35 {
    background: linear-gradient(to right, #99af38 35%, #fff 0) !important;
  }

  .rootcause-color50 {
    background: linear-gradient(
      to right,
      #99af38 44.5%,
      #65761a 45%,
      #65761a 50%,
      #fff 0
    ) !important;
  }

  .slick-slider {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    grid-gap: 20px !important;
  }

  .slick-slide {
    height: 100% !important;
  }

  .slickItem {
    display: block !important;
    width: auto !important;
    margin: 0 1px !important;
  }

  .footer-buy-stick:hover * {
    color: #fff !important;
  }

  .footer-buy-stick:hover span {
    color: red !important;
  }

  .footer-buy-stick:hover button {
    color: #fff !important;
  }

  @media (min-width: 320px) {
    .slick-dots li {
      margin: 0 5px !important;
      border-radius: 100px !important;
      margin-top: 5px !important;
    }

    .slick-pills li {
      margin: 0 0px !important;
      border-radius: 100px !important;
      margin-top: 5px !important;
    }
  }

  @media (min-width: 320px) {
    .buyMob {
      line-height: 0.75rem !important;
      font-size: 12px !important;
      padding: 0px !important;
      align-items: center !important;
    }

    .discountMob {
      font-size: 16px !important;
      padding: 0px !important;
      align-items: center !important;
    }

    .custom-indicator li {
      margin-top: 10px !;
      width: auto !important;
    }
  }

  @media (min-width: 2560px) {
    .quality-sec {
      width: 50% !important;
    }
  }

  @media only screen and (max-width: 550px) {
    .custom-indicator li.slick-active {
      background-color: #b7d340;
      border-radius: 30px;
      color: #ffffff;
      width: 15px !important;
      height: 15px !important;
    }
  }

  @media only screen and (max-width: 750px) {
    .custom-indicator li.slick-active {
      background-color: #b7d340;
      border-radius: 50px;
      width: 15px !important;
      height: 15px !important;
      color: #ffffff;
    }
  }

  @media only screen and (max-width: 768px) {
    .safe-sci-con {
      width: 80% !important;
    }

    .safe-sci-main {
      top: 15% !important;
      left: 10% !important;
    }

    .ess-price {
      padding-top: 30px !important;
    }

    .press-content {
      width: 75% !important;
    }

    .press-text-container {
      font-size: 33px !important;
    }

    .press-breadcrumb {
      font-size: 11px !important;
    }

    .custom-slider-dots .slick-dots {
      bottom: 4px !important;
    }
    .custom-slider-dots-root-causes .slick-dots {
      bottom: -32px !important;
    }
  }

  @media only screen and (max-width: 425px) {
    .login-hero {
      height: 94vh !important;
    }

    .press-text-container {
      font-size: 28px !important;
    }

    .press-breadcrumb {
      font-size: 9px !important;
    }

    .custom-slider-dots .slick-dots {
      bottom: 0px !important;
    }

    .custom-slider-dots-root-causes .slick-dots {
      bottom: -32px !important;
    }
  }

  .login-point::before {
    color: #96cf8d;
    content: "•";
    position: absolute;
    left: -1em;
  }

  .disabled-link {
    pointer-events: none;
  }

  @media (min-width: 1280px) {
    .section-title-coupon {
      font-size: 22px;
    }

    .loader-container {
      display: flex;
      position: fixed;
      top: 32%;
      right: 0%;
      bottom: 0;
      left: -25%;
      z-index: 50;
      --bg-opacity: 0.1;
      justify-content: center;
      align-items: center;
      height: 20%;
    }

    .loader {
      border: 3px solid #f3f3f3;
      border-radius: 50%;
      border-top: 3px solid #b7d340;
      width: 100px;
      height: 100px;
      -webkit-animation: spin 2s linear infinite;
      /* Safari */
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .ant-drawer-close {
      display: none;
    }

    .ant-drawer-header {
      padding: 10px 24px;
    }

    .ant-drawer-body {
      padding: 5px;
    }

    .react-player__preview {
      border-radius: 4px;
    }

    .accordion {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
    }

    .accordion-1 {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
    }

    .accordion-item {
      background-color: #fff;
      color: #111;
      margin: 1rem 0;
      border-radius: 5px;
      border-color: #b7d340;
      border-width: thin;
      border-style: solid;
    }

    .accordion-item-1 {
      background-color: #fff;
      color: #111;
      margin: 0.5rem 0;
      border-bottom: 2px solid #efefef;
    }

    .accordion-item-header {
      padding: 0.5rem 1rem 0.5rem 1rem;
      min-height: 3rem;
      line-height: 0rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    }

    .accordion-item-header-1 {
      padding: 0.5rem 1rem 0.5rem 0rem;
      min-height: 3rem;
      line-height: 0rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    }

    .accordion-item-icon {
      padding: 0rem 0.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    }

    .accordion-item-body {
      overflow: hidden;
      transition: max-height 0.5s ease-out;
    }

    .accordion-item-body-content {
      padding: 1rem;
      line-height: 1.5rem;
      border-top: 1px solid;
      border-image: linear-gradient(to right, transparent, #b7d340, transparent)
        1;
    }

    .toggleapp {
      justify-content: flex-end;
      display: flex;
    }

    .toggle-1 {
      background-color: #f5f5f5;
      mix-blend-mode: normal;
      height: 40px;
      width: 175px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      font-size: 15px;
      line-height: 20px;
      font-family: "Nunito Sans";
      font-weight: 800;
    }
    .toggle-2 {
      background-color: #f5f5f5;
      mix-blend-mode: normal;
      height: 35px;
      width: 150px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      font-size: 15px;
      line-height: 20px;
      font-family: "Nunito Sans";
      font-weight: 800;
    }
    .toggle-3 {
      background-color: #f5f5f5;
      mix-blend-mode: normal;
      height: 30px;
      width: 150px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      font-size: 15px;
      line-height: 20px;
      font-family: "Nunito Sans";
      font-weight: 800;
    }

    .toggle-left-1 {
      height: 38px;
      width: 85px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-left: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .toggle-left-2 {
      height: 33px;
      width: 72px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-left: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .toggle-left-3 {
      height: 27px;
      width: 72px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-left: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .toggle-right-1 {
      height: 38px;
      width: 85px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-right: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .toggle-right-2 {
      height: 33px;
      width: 72px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-right: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .toggle-right-3 {
      height: 27px;
      width: 72px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-right: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .anticon-phone {
      border: 1px solid;
      padding: 7px;
      border-radius: 30px;
    }

    .ant-input-prefix {
      margin-right: 15px;
      margin-left: 10px;
    }

    .ant-input:focus {
      border-color: red;
      outline: 0;
      box-shadow: 0 0 0 1px #b7d340;
    }

    .ant-input-affix-wrapper:focus {
      border-color: red;
      outline: 0;
      box-shadow: 0 0 0 1px #b7d340;
    }

    .ant-input-affix-wrapper > .ant-input:not(textarea) {
      background-color: #f9f8f8;
      border-top-right-radius: 32px;
      border-bottom-right-radius: 32px;
      padding-left: 15px;
    }

    .ant-input-affix-wrapper {
      padding: 0px 0px;
    }

    .ant-modal-body {
      padding: 30px 10px 30px 10px;
    }

    .ant-input-prefix {
      margin-right: 15px;
      margin-left: 10px;
    }

    .ant-input-affix-wrapper > .ant-input:not(textarea) {
      background-color: #f9f8f8;
      border-top-right-radius: 32px;
      border-bottom-right-radius: 32px;
      padding-left: 15px;
    }

    .ant-input-affix-wrapper {
      padding: 0px 0px;
    }

    .cta {
      width: 350px;
    }

    .content-box {
      width: 350px;
    }

    .download-btn {
      width: 350px;
    }

    .medicineContainer {
      width: 350px;
    }

    .prescriptionBox {
      width: 350px;
      margin-left: 40%;
    }

    .dashboardBar {
      width: 343px;
      height: 0px;
      margin-top: 10px;
      border: 1.5px solid #b7d340;
      margin-bottom: 25px;
    }

    .topText {
      width: 343px;
      height: 40px;
      font-family: "Fredoka";
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 30px;
      text-align: left;
      color: #414042;
    }

    .faq {
      width: 343px;
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: #bababa;
    }

    .headerText {
      width: 343px;
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 21.3px;
      text-align: left;
      color: #414042;
    }

    .footer {
      width: 343px;
      padding: 1% 0%;
    }

    .form-box {
      width: 343px;
      margin: 0 auto;
    }

    .subHeaderText {
      width: 100%;
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      text-align: left;
      color: #414042;
      margin-top: 11px;
    }

    .inputwidth {
      width: 100%;
      height: 54px;
      font-family: "Nunito Sans";
      border-radius: 32px;
      border-color: #b7d340;
      border-width: 2px;
      text-align: left;
      background-color: #f9f8f8;
      font-size: 18px;
      font-weight: 700;
    }

    .ant-input:focus {
      border-color: #b7d340;
      outline: 0;
      box-shadow: 0 0 0 1px #b7d340;
    }

    .ant-input-affix-wrapper:focus {
      border-color: #b7d340;
      outline: 0;
      box-shadow: 0 0 0 1px #b7d340;
    }

    .findOrderIdContainer {
      width: 100%;
    }

    .form-prescription-container {
      width: 343px;
      padding: 10px 0px;
      border-radius: 4px;
    }

    .form-find-orderId-container {
      width: 25%;
      padding: 16px 32px;
      border-radius: 4px;
    }

    .findOrderIdHeader {
      width: 25%;
    }

    .container-1 {
      position: relative;
      width: 350px;
      height: auto;
    }

    .headerBar {
      width: 350px;
      height: 0px;
      margin-top: 10px;
      border: 0.2px solid #ebf1e2;
    }

    .userDetailsContainer {
      width: 350px;
      height: 60px;
      margin-top: 5px;
      padding: 20px;
    }

    .userDetail {
      width: 100%;
      height: auto;
      margin-top: -8px;
      margin-left: -15px;
    }

    .userDiagnosisCard {
      width: 450px;
      height: 135px;
      margin-top: 10px;
      background-color: #f8f8f8;
      padding: 20px;
    }

    .imgContainer {
      width: 100px;
      height: 100px;
    }

    .medicine-1 {
      font-family: "Nunito Sans", sans-serif;
      width: 150px;
      letter-spacing: 0.3px;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      color: #414042;
    }

    .medicine-2 {
      width: 89px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      text-align: right;
      color: #999999;
    }

    .medicine-3 {
      font-family: "Nunito Sans", sans-serif;
      width: 220px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      color: #414042;
    }

    .medicine-4 {
      font-family: "Nunito Sans", sans-serif;
      width: 130px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #414042;
      opacity: 0.7;
      text-align: right;
    }

    .medicineBar {
      width: 350px;
      height: 0px;
      border: 0.2px solid #ebf1e2;
    }

    .helpContainer {
      display: flex;
      text-align: center;
      width: 450px;
    }

    .helpText {
      margin-top: 20px;
      margin-right: 7px;
      margin-left: 140px;
    }

    .footerWidth {
      width: 350px;
    }

    .doctorText {
      width: 330px;
      height: 29px;
      margin-top: 15px;
      text-align: center;
      margin-bottom: 27px;
      margin-left: 68px;
    }
  }

  @media screen and (max-width: 480px) {
    .loader-container {
      display: flex;
      position: fixed;
      top: 32%;
      right: 0%;
      bottom: 0;
      left: -25%;
      z-index: 50;
      --bg-opacity: 0.1;
      justify-content: center;
      align-items: center;
      height: 20%;
    }

    .loader {
      border: 3px solid #f3f3f3;
      border-radius: 50%;
      border-top: 3px solid #b7d340;
      width: 100px;
      height: 100px;
      -webkit-animation: spin 2s linear infinite;
      /* Safari */
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .ant-drawer-close {
      display: none;
    }

    .ant-drawer-header {
      padding: 10px 24px;
    }

    .ant-drawer-body {
      padding: 5px;
    }

    .react-player__preview {
      border-radius: 4px;
    }

    .accordion {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
    }

    .accordion-1 {
      width: 95%;
      max-width: 1000px;
      margin: 0 auto;
    }

    .accordion-item {
      background-color: #fff;
      color: #111;
      margin: 1rem 0;
      border-radius: 5px;
      border-color: #b7d340;
      border-width: thin;
      border-style: solid;
    }

    .accordion-item-1 {
      background-color: #fff;
      color: #111;
      margin: 0.5rem 0;
      border-bottom: 2px solid #efefef;
    }

    .accordion-item-header {
      padding: 0.5rem 1rem 0.5rem 1rem;
      min-height: 3rem;
      line-height: 0rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    }

    .accordion-item-header-1 {
      padding: 0.5rem 1rem 0.5rem 0rem;
      min-height: 3rem;
      line-height: 0rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    }

    .accordion-item-icon {
      padding: 0rem 0.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    }

    .accordion-item-body {
      overflow: hidden;
      transition: max-height 0.5s ease-out;
    }

    .accordion-item-body-content {
      padding: 1rem;
      line-height: 1.5rem;
      border-top: 1px solid;
      border-image: linear-gradient(to right, transparent, #b7d340, transparent)
        1;
    }

    .toggleapp {
      justify-content: flex-end;
      display: flex;
    }

    .toggle-1 {
      background-color: #f5f5f5;
      mix-blend-mode: normal;
      height: 40px;
      width: 175px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      font-size: 15px;
      line-height: 20px;
      font-family: "Nunito Sans";
      font-weight: 800;
    }

    .toggle-2 {
      background-color: #f5f5f5;
      mix-blend-mode: normal;
      height: 35px;
      width: 150px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      font-size: 15px;
      line-height: 20px;
      font-family: "Nunito Sans";
      font-weight: 800;
    }
    .toggle-3 {
      background-color: #f5f5f5;
      mix-blend-mode: normal;
      height: 30px;
      width: 150px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      font-size: 15px;
      line-height: 20px;
      font-family: "Nunito Sans";
      font-weight: 800;
    }

    .toggle-left-1 {
      height: 38px;
      width: 85px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-left: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .toggle-left-2 {
      height: 33px;
      width: 72px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-left: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .toggle-left-3 {
      height: 27px;
      width: 72px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-left: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .toggle-right-1 {
      height: 38px;
      width: 85px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-right: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .toggle-right-2 {
      height: 33px;
      width: 72px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-right: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .toggle-right-3 {
      height: 27px;
      width: 72px;
      background-color: white;
      border-radius: 3px;
      margin-top: 1px;
      margin-right: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .anticon-phone {
      border: 1px solid;
      padding: 7px;
      border-radius: 30px;
    }

    .ant-input-prefix {
      margin-right: 15px;
      margin-left: 10px;
    }

    .ant-input:focus {
      border-color: #b7d340;
      outline: 0;
      box-shadow: 0 0 0 1px #b7d340;
    }

    .ant-input-affix-wrapper:focus {
      border-color: #b7d340;
      outline: 0;
      box-shadow: 0 0 0 1px #b7d340;
    }

    .ant-input-affix-wrapper > .ant-input:not(textarea) {
      background-color: #f9f8f8;
      border-top-right-radius: 32px;
      border-bottom-right-radius: 32px;
      padding-left: 15px;
    }

    .ant-input-affix-wrapper {
      padding: 0px 0px;
    }

    .ant-modal-body {
      padding: 30px 10px 30px 10px;
    }

    .ant-input-prefix {
      margin-right: 15px;
      margin-left: 10px;
    }

    .ant-input-affix-wrapper > .ant-input:not(textarea) {
      background-color: #f9f8f8;
      border-top-right-radius: 32px;
      border-bottom-right-radius: 32px;
      padding-left: 15px;
    }

    .ant-input-affix-wrapper {
      padding: 0px 0px;
    }

    .cta {
      width: 100%;
    }

    .content-box {
      width: 100%;
    }

    .download-btn {
      width: 100%;
    }

    .medicineContainer {
      width: 100%;
    }

    .prescriptionBox {
      width: 100%;
    }

    #prescriptionBody {
      margin-left: 0px;
    }

    .dashboardBar {
      width: 95%;
      height: 0px;
      border: 1.5px solid #b7d340;
      margin-bottom: 25px;
    }

    .topText {
      width: 95%;
      height: 40px;
      font-family: "Fredoka";
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 30px;
      text-align: left;
      color: #414042;
    }

    .faq {
      width: 95%;
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: #bababa;
    }

    .headerText {
      width: 95%;
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      text-align: left;
      color: #414042;
    }

    .footer {
      width: 100%;
      padding: 3.5% 0%;
    }

    .form-box {
      width: 100%;
      margin: 0 auto;
    }

    .subHeaderText {
      width: 95%;
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      text-align: left;
      color: #414042;
      margin-top: 10px;
    }

    .inputwidth {
      width: 100%;
      height: 54px;
      font-family: "Nunito Sans";
      border-radius: 32px;
      border-color: #b7d340;
      border-width: 2px;
      text-align: left;
      font-weight: 700;
    }

    .findOrderIdContainer {
      width: 100%;
    }

    .form-prescription-container {
      width: 95%;
      padding: 10px 0px;
      border-radius: 4px;
    }

    .form-find-orderId-container {
      width: 100%;
      padding: 16px 32px;
      border-radius: 4px;
    }

    .findOrderIdHeader {
      width: 94%;
    }

    .container-1 {
      position: relative;
      width: 100%;
      height: auto;
      padding: 0% 3%;
      margin: 0 auto;
    }

    .headerBar {
      width: 100%;
      height: 0px;
      margin-top: 10px;
      border: 0.2px solid #ebf1e2;
    }

    .userDetailsContainer {
      width: 350px;
      height: 60px;
      margin-top: 5px;
      padding: 20px;
    }

    .userDetail {
      width: 100%;
      height: auto;
      margin-top: -8px;
      margin-left: -15px;
    }

    .userDiagnosisCard {
      width: 350px;
      height: auto;
      margin-top: 10px;
      background-color: #f8f8f8;
      padding: 8% 5%;
    }

    .imgContainer {
      width: 120px;
      height: 120px;
    }

    .medicine-1 {
      font-family: "Nunito Sans";
      width: 50%;
      letter-spacing: 0.3px;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      color: #414042;
    }

    .medicine-2 {
      width: 30%;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      text-align: right;
      color: #999999;
    }

    .medicine-3 {
      font-family: "Nunito Sans", sans-serif;
      width: 60%;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      color: #414042;
    }

    .medicine-4 {
      font-family: "Nunito Sans", sans-serif;
      width: 40%;
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 17px;
      color: #414042;
      opacity: 0.7;
      text-align: right;
    }

    .medicineBar {
      width: 100%;
      height: 0px;
      border: 0.2px solid #ebf1e2;
    }

    .helpContainer {
      display: flex;
      text-align: center;
      width: 350px;
    }

    .helpText {
      margin-top: 5%;
      margin-right: 2%;
      margin-left: 30%;
    }

    .footerWidth {
      width: 100%;
    }

    .doctorText {
      width: 350px;
      height: 29px;
      margin-top: 15px;
      text-align: center;
      margin-left: 0%;
    }

    .downloadBtn {
      left: 38%;
    }

    .press-content {
      width: 93% !important;
    }

    .press-text-container {
      font-size: 30px !important;
    }
  }

  .press-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .press-text-container {
    font-family: Nunito Sans, sans-serif !important;
    color: #414042;
    letter-spacing: -0.22px;
    font-style: normal;
    font-stretch: normal;
    font-size: 44px;
    font-weight: 800;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 20px !important;
  }

  .press-breadcrumb {
    padding-left: 0;
    background: 0 0;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Nunito Sans, sans-serif !important;
    color: #414042;
  }
}

/* <-------------- Antd Carousel changes ----------->*/

#carousel-id .ant-carousel .slick-dots {
  bottom: -24px !important;
}
#carousel-id .slick-dots li button ,#realPeople-carousel-id .slick-dots li button  {
  background-color: #bebebe !important;
  opacity: 1 !important;
}

#carousel-id .slick-dots li.slick-active button ,#realPeople-carousel-id .slick-dots li.slick-active button  {
  background-color: #262626 !important;
  opacity: 1 !important;
}

#carousel-id .ant-carousel .slick-dots li::after ,#realPeople-carousel-id .ant-carousel .slick-dots li::after  {
  background-color: #262626 !important;
}

/*  Real people  Carousel changes */

#realPeople-carousel-id .ant-carousel .slick-dots {
  bottom: var(--dots-bottom) !important;
}

#realPeople-carousel-id.custom-slider-carousel .ant-carousel .slick-dots {
  bottom: var(--dots-bottom) !important;
}

.offer-page-back-text {
  font-size: 16px;
  color: #000;
  font-style: normal;
}

.section-title-coupon {
  text-align: center;
  line-height: 1.25;
  color: #424242;
  font-size: 44px;
}

.coupons-google-review .google-review-text-main {
  font-family: Nunito Sans, sans-serif !important;
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
  text-align: center;
  color: #424242;
}

.coupon-test-button {
  top: 70%;
}

.s-hero-section.ingredient-hero-section {
  height: 602px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  text-align: left;
}

.s-hero-text.d-md-block {
  max-width: 700px;
}

.s-hero-section .s-hero-text h4 {
  font-size: 26px;
  font-weight: 700;
  color: #f9af5f;
  line-height: 27.2px;
  letter-spacing: 0.65px;
}

.s-hero-section .s-hero-text h2,
.template-page.traya-ingredients .s-hero-text h2 {
  font-size: 51px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.26px;
}

.s-hero-section .s-hero-text p {
  font-size: 18px;
  color: #939598;
  font-weight: 300;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.hr-stage-img {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 17px;
  width: 110px;
  height: 110px;
  margin: 0 auto;
}

.text-custom-black {
  color: #303032;
}

.banner-slider .slick-dots {
  bottom: 0px;
}

.bottom-slick .slick-dots {
  bottom: -1px;
}

.three_step_image {
  width: 100%;
  text-align: center;
  position: relative;
  box-shadow: 0 0px 8px 3px rgb(0 0 0 / 18%);
}

.box_step-three {
  display: block;
  width: 33.33%;
  position: relative;
  padding: 0 0;
}

.google_review_slide {
  border: 3px solid #a9b699;
  box-shadow: 0 0 8px #00000057;
  border-radius: 8px;
  min-height: 215px;
  margin: 0 10px;
}

.heros-refer {
  background: rgba(169, 182, 153, 0.27);
  border: 1px solid #a9b699;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 47%);
  border-radius: 27px;
  align-items: center;
}

.heros-refer-mobile {
  background: rgba(169, 182, 153, 0.27);
  border: 1px solid #a9b699;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 47%);
  border-radius: 27px;
  align-items: center;
}

.safe-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* * {
  border: .5px solid red !important;
} */

.hide-next-arrow .slick-arrow {
  display: none !important;
}

.cuticle-banner {
  margin-top: 45px;
  padding: 30px 9rem;
  background: #f7f7f7;
}

.hair_background {
  display: grid;
  place-items: baseline;
  grid-template-columns: auto auto auto auto;
  width: 757px;
  max-width: 100%;
  border-radius: 20px;
  column-gap: 60px;
  -webkit-column-gap: 60px;
  row-gap: 40px;
  margin: auto;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 60px 0;
}

.real-women-para {
  margin: 0;
  font-weight: 600;
  padding: 15px;
  background: url("https://d3twoz8hvcdm9h.cloudfront.net/website_images/female_result_page/cuticleimage.webp")
    no-repeat;
}

.real-women-tag {
  padding: 5px 16px 5px 16px;
  background: #9e83d7;
  font-style: italic;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  margin: 7px;
  border-radius: 44px;
}

.real-women-name {
  padding: 5px 15px;
  text-align: right;
}

.div-text {
  position: absolute;
  margin: 0px 30px 0px 30px;
  margin: 0px 13px 0px 13px;
  top: 45%;
  transform: translate(0, -50%);
  border-radius: 10px 10px 10px 0px;
  background-color: #fff;
  box-shadow: 0 80px 100px 75px #00000066;
}

.hide-arrow .slick-prev:before,
.hide-arrow .slick-next:before {
  content: "";
}

/* @media screen and (max-width: 480px) {
    .our-expert-doctor .slick-next {
    display: none !important;
  }

  .other-experts-doctors-slick .slick-next {
    display: none !important;
  }
} */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e6e6ebe;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4be;
}

.recomeded-drawer .ant-drawer-wrapper-body .ant-drawer-body {
  padding: 0px !important;
  padding-top: 0px !important;
}

@media screen and (max-width: 640px) {
  .recomeded-drawer {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
  }
}

.ant-pagination-item {
  border: 1px !important;
  outline: none !important;
  border-bottom: 0 !important;
}

.ant-pagination-item-active a {
  background-color: #58595b;
  color: white !important;
  border-color: none !important;
  outline: none !important;
  border-radius: 10%;
  /* Text color for the selected button */
}

.ant-pagination li a {
  border-bottom: none !important;
}

.ant-pagination,
.ant-pagination-jump-next,
.ant-pagination-item-container,
.ant-pagination-item-link-icon {
  color: #58595b !important;
}
.screenCaptureBar {
  animation: verticalMovement 1.5s linear infinite;
}
@keyframes verticalMovement {
  0% {
    top: 0;
  }
  50% {
    top: calc(100vh - 10rem);
  }
  100% {
    top: 0;
  }
}
.visibleCam {
  /* -webkit-animation: visibleCam1 25s cubic-bezier(0, 0, 1, 1.85); */
  animation: visibleCam 1.7s cubic-bezier(0, 0, 1, 1.85);
}

@keyframes visibleCam {
  0% {
    opacity: 0;
  }
  97% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-all {
  display: flex;
  animation: marquee 38s linear infinite;
  width: fit-content;
}

.marquee-container {
  overflow: hidden;
}

.marquee-content {
  display: flex;
  width: fit-content;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.custom-arrow:before {
  content: none !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
  margin-top: 8px !important;
  z-index: 50;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.custom-icon-fill {
  filter: contrast(15%);
  fill: "#505354";
}
